<div class="notification-page">

  <div class="notification-header">
    <div>
      <h2>🔔 Notifications</h2>
      <p>Stay updated with the latest activities in your school.</p>
    </div>

    <button class="mark-read-btn">
      Mark all as read
    </button>
  </div>


  <div class="notification-list">

  <div class="notification-card unread">
      <div class="notification-icon success">
          🎓
      </div>

      <div class="notification-content">
          <h4>New Student Admission</h4>
          <p>Rahul Sharma has been admitted to BCA First Year.</p>

          <span>2 minutes ago</span>
      </div>

      <span class="status unread-status">New</span>
  </div>


  <div class="notification-card unread">
      <div class="notification-icon warning">
          💰
      </div>

      <div class="notification-content">
          <h4>Fee Reminder</h4>
          <p>12 students have pending fee payments.</p>

          <span>10 minutes ago</span>
      </div>

      <span class="status unread-status">New</span>
  </div>


  <div class="notification-card">
      <div class="notification-icon primary">
          📅
      </div>

      <div class="notification-content">
          <h4>Attendance Submitted</h4>
          <p>BCA First Year attendance submitted successfully.</p>

          <span>Today 09:45 AM</span>
      </div>

      <span class="status read-status">Read</span>
  </div>


  <div class="notification-card">
      <div class="notification-icon danger">
          👨‍🏫
      </div>

      <div class="notification-content">
          <h4>Teacher Added</h4>
          <p>Dr. Amit Verma joined the Computer Science department.</p>

          <span>Yesterday</span>
      </div>

      <span class="status read-status">Read</span>
  </div>

</div>

</div>