.navbar-custom{
    height:70px;
    background:#fff;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;

    border-bottom:1px solid #E2E8F0;

    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-weight:700;
    color:#2563EB;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.icon-btn{
    width:42px;
    height:42px;

    border:none;
    border-radius:50%;

    background:#F1F5F9;

    cursor:pointer;

    transition:.3s;
}

.icon-btn:hover{
    background:#E2E8F0;
}

.admin-info{
    display:flex;
    align-items:center;
    gap:10px;
}

.admin-avatar{
    width:42px;
    height:42px;

    border-radius:50%;

    background:#2563EB;
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:bold;
}